<!DOCTYPE html>
<html>
  <body>
    <ion-view view-title="Welcome To ngTrainer">
      <ion-content>
        <ion-list>
          <label class="item item-input"><span class="input-label">Email</span>
            <input type="text">
          </label>
          <label class="item item-input"><span class="input-label">Password</span>
            <input type="password">
          </label>
        </ion-list>
        <div class="padded-row">
          <button class="button button-block button-energized">Login</button>
        </div>
      </ion-content>
    </ion-view>
  </body>
</html>