
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Today's Workout" icon-off="ion-ios7-calendar-outline" icon-on="ion-ios7-calendar" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  <ion-tab title="All Workouts" icon-off="ion-ios7-paper-outline" icon-on="ion-ios7-paper" href="#/tab/regimes">
    <ion-nav-view name="tab-workouts"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Account" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>