
<ion-view view-title="{{workout.workoutName}}">
  <ion-nav-buttons side="primary"><a href="#/tab/dash" class="button">Quit</a></ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button ng-click="prevSlide()" class="button">Prev</button>
    <button ng-click="nextSlide()" class="button">Next</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-slide-box delegate-handle="wkSlider" show-pager="true" on-slide-changed="beginSet($index)">
      <ion-slide>
        <div class="padded-button-row">
          <button ng-click="startWorkout()" class="button button-block button-stable">Start</button>
        </div>
        <table class="workout-table">
          <tbody>
            <tr ng-repeat="set in workout.sets">
              <td colspan="5" style="text-align:center;">
                <table style="display:inline-block;" class="exercise-table">
                  <thead>
                    <tr ng-show="$index === 0">
                      <th style="width:32px;">Sets</th>
                      <th style="text-align:left;width:130px;">Exercises</th>
                      <th style="width:50px;">Reps</th>
                      <th style="width:60px;">Weight</th>
                      <th style="width:50px;">Rest</th>
                    </tr>
                    <tr ng-show="$index !== 0">
                      <th style="width:32px;"></th>
                      <th style="width:130px;"></th>
                      <th style="width:50px;"></th>
                      <th style="width:60px;"></th>
                      <th style="width:50px;"></th>
                    </tr>
                  </thead>
                  <tbody style="font-size:.7em;">
                    <tr ng-repeat="exercise in set.exercises">
                      <td>{{$index === 0 ? set.count : ' '}}</td>
                      <td style="text-align:left;">{{exercise.name}}</td>
                      <td>{{formatReps(exercise.reps, exercise.type)}}</td>
                      <td>{{formatWeight(exercise.weight, false)}}</td>
                      <td>{{$index === 0 ? formatRest(set.rest) : ' '}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </ion-slide>
      <ion-slide ng-repeat="set in workout.sets">
        <div class="box">
          <h5>Sets: {{setRep}} of {{currentSet.count}}, Rest: {{formatRest(currentSet.rest)}}</h5>
          <h3 ng-class="{red: stopSet, green: doSet}">{{currentExr.name}}</h3>
          <div class="rep-display">
            <div ng-show="currentExr.typeId === 1" class="reps">
              <h4>{{currentExr.reps}} Reps &#64; {{formatWeight(currentExr.weight, true)}}</h4>
              <button ng-click="nextExr()" class="button button-block button-positive">Next</button>
            </div>
            <div ng-show="currentExr.typeId === 2" class="secs">
              <h4><span ng-if="!timerRunning">{{currentExr.reps}} seconds</span>
                <timer ng-if="timerRunning" countdown="currentExr.reps" interval="1000" finish-callback="timerFinished()">{{seconds}} second{{secondsS}}</timer>
              </h4>
              <button ng-show="!timerDone" ng-click="startTimer()" ng-disabled="timerRunning" class="button button-block button-positive">Start</button>
              <button ng-show="timerDone" ng-click="nextExr()" class="button button-block button-positive">Next</button>
            </div>
            <div ng-show="currentExr.typeId === 3" class="fail">
              <h4>Till Failure</h4>
              <button ng-click="nextExr()" class="button button-block button-positive">Next</button>
            </div>
          </div>
          <ul ng-show="currentSet.exercises.length &gt; 1" class="list">
            <li style="border: none;" ng-repeat="exr in currentSet.exercises" ng-class="{&quot;active-exercise&quot;: exr.name === currentExr.name}" class="item">{{exr.name}}</li>
          </ul>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>