
<div class="box">
  <h5>Sets: {{setRep}} of {{currentSet.count}}, Rest: {{formatRest(currentSet.rest)}}</h5>
  <h3>{{currentExr.name}}</h3>
  <div class="rep-display">
    <div ng-show="currentExr.typeId === 1" class="reps">
      <h4>{{currentExr.reps}} Reps &#64; {{formatWeight(currentExr.weight, true)}}</h4>
      <button ng-click="nextExr()" class="button button-block button-positive">Next</button>
    </div>
    <div ng-show="currentExr.typeId === 2" class="secs">
      <h4>{{currentExr.reps}} Secs</h4>
      <button ng-click="nextExr()" class="button button-block button-positive">Next</button>
    </div>
    <div ng-show="currentExr.typeId === 3" class="fail">
      <h4>Till Failure</h4>
      <button ng-click="nextExr()" class="button button-block button-positive">Next</button>
    </div>
  </div>
  <ul class="list">
    <li style="border: none;" ng-repeat="exr in currentSet.exercises" class="item">{{exr.name}}</li>
  </ul>
</div>