html
  body
    ion-view(view-title='Welcome To ngTrainer')
      ion-content
        ion-list
          label.item.item-input
            span.input-label Email
            input(type='text')
          label.item.item-input
            span.input-label Password
            input(type='password')
        .padded-row
          button.button.button-block.button-energized Login

