html
  body
    ion-view(view-title='HIIT It')
      ion-content.padding
        .list.card(ng-show='init')
          .item.item-divider Today
          .item {{today | date:'fullDate'}}
          .item.item-divider(ng-hide='day') No Workout Scheduled
          .item.item-divider(ng-show='day') Workout: {{day.title}}
          .item.item-body(ng-show='day')
            button.button.button-block.button-positive START

