ion-view(view-title='HIIT It')
  ion-nav-buttons(side='primary')
    button.button Test
  ion-content
    ion-slide-box(delegate-handle='wkSlider', show-pager='false')
      ion-slide
        h1 Slide 1
      ion-slide
        h1 Slide 2
