//- everthing is in $scope.workout from WorkoutCtrl
.box
  h5 Sets: {{setRep}} of {{currentSet.count}}, Rest: {{formatRest(currentSet.rest)}}
  h3 {{currentExr.name}}
  .rep-display
    .reps(ng-show='currentExr.typeId === 1')
      h4 {{currentExr.reps}} Reps &#64; {{formatWeight(currentExr.weight, true)}}
      button.button.button-block.button-positive(ng-click='nextExr()') Next
    .secs(ng-show='currentExr.typeId === 2')
      h4 {{currentExr.reps}} Secs
      button.button.button-block.button-positive(ng-click='nextExr()') Next
    .fail(ng-show='currentExr.typeId === 3')
      h4 Till Failure
      button.button.button-block.button-positive(ng-click='nextExr()') Next
  ul.list
    li.item(style='border: none;', ng-repeat='exr in currentSet.exercises') {{exr.name}}
  //- pre(style='text-align:left;') {{currentExr | json}}
  //- pre(style='text-align:left;') {{currentSet | json}}
