doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title HIIT It
    link(href='css/ionic.app.css', rel='stylesheet')
    //- custom css
    link(href='css/style.css', rel='stylesheet')
    //- load jquery before ionic/angular so full version is available
    script(src='lib/jquery/dist/jquery.min.js')
    //- ionic js
    //- script(src='lib/ionic/js/ionic.bundle.js')
    //- created custom ionic build with edited pager for workouts display
    script(src='lib/ionic/js/custom.ionic.bundle.js')
    script(src='cordova.js')
    script(src='lib/angular-timer/angular-timer.min.js')
    //- your app's js
    script(src='js/app.js')
    script(src='js/controllers.js')
    script(src='js/services.js')
    script(src='js/values.js')
  body(ng-app='trainer')
    //- The nav bar that will be updated as we navigate between views.
    ion-nav-bar.bar-stable
      ion-nav-back-button
    //- The views will be rendered in the <ion-nav-view> directive below
    ion-nav-view
