ion-view(view-title='HIIT It')
  ion-content
    ion-pane.padding(style='text-align:center;')
      h1 {{wkName}}
      h2 Completed
      a.button.button-block.button-positive(href='#/tab/dash') Home