
<ion-view view-title="{{workout.workoutName}}">
  <ion-nav-buttons side="primary">
    <button ng-click="quit()" class="button">Quit</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button ng-show="setIndex === -1" ng-click="startWorkout()" class="button">Start</button>
    <button ng-click="prevSlide(&quot;mainSlider&quot;)" class="button">Prev</button>
    <button ng-click="nextSlide(&quot;mainSlider&quot;)" class="button">Next</button>
  </ion-nav-buttons>
  <ion-content>
    <workout-slider wk="workout" m-slide-change="beginSet($index)"></workout-slider>
  </ion-content>
</ion-view>