ion-view(view-title='Account')
  ion-content
    ion-list
      ion-item.item-avatar
        img(ng-src='{{rootUser.avatar}}')
        h2 {{rootUser.email}}
        button.button.button-block(style='height:1em;', ng-click='logOut()') Log Out


