ion-tabs.tabs-icon-top.tabs-color-active-positive
  //- Scheduled Workout Tab
  ion-tab(title='Today\'s Workout', icon-off='ion-ios7-calendar-outline', icon-on='ion-ios7-calendar', href='#/tab/dash')
    ion-nav-view(name='tab-dash')
  //- All Workouts Tab
  ion-tab(title='All Workouts', icon-off='ion-ios7-paper-outline', icon-on='ion-ios7-paper', href='#/tab/regimes')
    ion-nav-view(name='tab-workouts')
  //- Account Tab
  ion-tab(title='Account', icon-off='ion-ios7-gear-outline', icon-on='ion-ios7-gear', href='#/tab/account')
    ion-nav-view(name='tab-account')
